# Virtual-Environment
.venv-cripto
.venv

# Byte-compiled / optimized / DLL files
criptosite/criptosite/__pycache__/
criptosite/views/__pycache__/
criptosite/utils/__pycache__/
criptosite/utils/results.txt
criptosite/utils/playground.ipynb
