{% extends "base_template.html" %}

{% load static %}

{% block head_content %}
<title>CriptoBros - Shift</title>
{% endblock %}

{% block main %}

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Affine Cipher</h1>
    <p class="mb-4">The affine cipher is a type of monoalphabetic substitution cipher, where each letter in an alphabet is mapped to its numeric equivalent, encrypted using a simple mathematical function, and converted back to a letter. The formula used means that each letter encrypts to one other letter, and back again, meaning the cipher is essentially a standard substitution cipher with a rule governing which letter goes to which. As such, it has the weaknesses of all substitution ciphers. Each letter is enciphered with the function (ax + b) mod 26, where b is the magnitude of the shift.</p>

    <!-- Content Row -->
    <div class="row">

        <div class="col-xl-8 col-lg-7">

            <!-- Encrypt Chart -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Encrypt</h6>
                </div>
                <div class="card-body">
                    <form method="POST" action="" target="_self">
                        {% csrf_token %} 
                        <div class="chart-area">
                            <textarea name='textC' class="form-control" rows="11" required>{{ clear }}</textarea>
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                              <span class="input-group-text" id="inputGroup-sizing-default">K</span>
                            </div>
                            <input type="text" name='k1' class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                        </div>
                        <input name="encrypt" class="btn btn-primary btn-block" type="submit" value="Submit">
                    </form>
                </div>
            </div>

            <!-- Decrypt Chart -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-1 font-weight-bold text-primary">Decrypt</h6>
                </div>
                <div class="card-body">
                    <form method="POST" action="", target="_self">
                        {% csrf_token %} 
                        <div class="chart-area">
                            <textarea name='textE' class="form-control" rows="11" required>{{ cipher }}</textarea>
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                              <span class="input-group-text" id="inputGroup-sizing-default">K</span>
                            </div>
                            <input type="text" name='k2' class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                        </div>
                        <input name="desencrypt"class="btn btn-primary btn-block" type="submit" value="Submit">
                    </form>
                </div>
            </div>

        </div>

        <!-- Inputs Chart -->
        <div class="col-xl-4 col-lg-5">
            <!-- Outputs Chart -->
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Outputs</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="chart-area">
                        <textarea class="form-control" rows="10">{{ data }}</textarea>
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-default">K used to encrypt</span>
                            <textarea class="form-control" rows="1">{{ k1 }}</textarea>
                        </div>
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-default">K used to decrypt</span>
                            <textarea class="form-control" rows="1">{{ k2 }}</textarea>
                        </div>
                    </div>         
                </div>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->
{% endblock %}
<!-- </body> -->