{% extends "base_template.html" %}

{% load static %}

{% block head_content %}
<title>CriptoBros - Gamma Pentagonal</title>
{% endblock %}

{% block main %}

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Gamma Pentagonal Cipher</h1>
    <p class="mb-4">The standard DES data encryption encrypts a message of 64 bits or 12.8 letters.</p>

    <!-- Content Row -->
    <div class="row">
        <!-- Inputs Chart -->
        <div class="col-xl-3 col-lg-5">
            <!-- Outputs Chart -->
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary" style="text-align:center">Encrypt</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="chart-area">
                        <form method="POST" action="" target="_self">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="exampleFormControlTextarea1">Text</label>
                                <textarea type="text" name='text' class="form-control" rows="5"></textarea>
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                  <span class="input-group-text" id="inputGroup-sizing-default">Permutation</span>
                                </div>
                                <input type="text" name='perm' class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                  <span class="input-group-text" id="inputGroup-sizing-default">Start</span>
                                </div>
                                <input type="text" name='start' class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                            </div>
                            <input name="encrypt" class="btn btn-primary btn-block" type="submit" value="Encrypt">
                        </form>
                    </div>         
                </div>
            </div>
        </div>
        {% if encrypted_image %}
            <div class="col-lg-4 col-md-6 col-sm-12 pb-4">
                <p><img src="{% static 'img/clean.png' %}" class="img-fluid"></p>
            </div>

            <div class="col-xl-3 col-lg-5">
                <!-- Outputs Chart -->
                <div class="card shadow mb-4">
                    <!-- Card Header - Dropdown -->
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary" style="text-align:center">Encrypt Outputs</h6>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">
                        <div class="chart-area">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-default">K used to encrypt</span>
                                <textarea class="form-control" rows="1">{{ k1 }}</textarea>
                            </div>
                            <div class="chart-area">
                                <a class="btn btn-success btn-sm btn-block" href="{% url 'downloadimg_file'%}" target="_blank">Download Results</a>
                            </div> 
                        </div>         
                    </div>
                </div>
            </div>
        {% else %}
            <p></p>
        {% endif %}
    </div>
    <div class="row">
        <!-- Inputs Chart -->
        <div class="col-xl-3 col-lg-5">
            <!-- Outputs Chart -->
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary" style="text-align:center">Decrypt</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="chart-area">
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <p> Encrypted image: <input type="file" name="im2" accept="image/*"></p>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                  <span class="input-group-text" id="inputGroup-sizing-default">K</span>
                                </div>
                                <input type="text" name='k2' class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                            </div>
                            <input name="decrypt" class="btn btn-primary btn-block" type="submit" value="Decrypt">
                        </form>
                    </div>         
                </div>
            </div>
        </div>
        {% if decrypted_image %}
            <div class="col-lg-4 col-md-6 col-sm-12 pb-4">
                <p><img src="{% static 'img/Decrypted.png' %}" class="img-fluid"></p>
            </div>

            <div class="col-xl-3 col-lg-5">
                <!-- Outputs Chart -->
                <div class="card shadow mb-4">
                    <!-- Card Header - Dropdown -->
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary" style="text-align:center">Decrypt Outputs</h6>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">
                        <div class="chart-area">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-default">K used to decrypt</span>
                                <textarea class="form-control" rows="1">{{ k2 }}</textarea>
                            </div>
                            <div class="chart-area">
                                <a class="btn btn-success btn-sm btn-block" href="{% url 'downloadimge_file'%}" target="_blank">Download Results</a>
                            </div> 
                        </div>         
                    </div>
                </div>
            </div>
        {% else %}
            <p></p>
        {% endif %}
    </div>

</div>
<!-- /.container-fluid -->
{% endblock %}
<!-- </body> -->