{% extends "base_template.html" %}

{% load static %}

{% block head_content %}
<title>CriptoBros - Gamma Pentagonal</title>
{% endblock %}

{% block main %}

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Gamma Pentagonal Cipher</h1>
    <p class="mb-4">The gamma-pentagonal cryptographic system has the property of probabilistic security since it is associated with a difficult problem of number theory. The difficult problem is to determine in how many ways a positive integer can be written as a sum of at least three square numbers. The above problem can be restated by asking how many admissible trajectories such as the ones we will illustrate later, connect the origin with a point in the usual plane.</p>

    <!-- Content Row -->
    <div class="row">
        <!-- Inputs Chart -->
        <div class="col-xl-3 col-lg-5">
            <!-- Outputs Chart -->
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary" style="text-align:center">Encrypt</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="chart-area">
                        <form method="POST" action="" target="_self">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="exampleFormControlTextarea1">Text</label>
                                <textarea type="text" name='text' class="form-control" rows="5">{{ clear }}</textarea>
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                  <span class="input-group-text" id="inputGroup-sizing-default">Permutation</span>
                                </div>
                                <textarea type="text" name='perm' class="form-control" rows="1">{{ perm }}</textarea>
                                
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                  <span class="input-group-text" id="inputGroup-sizing-default">Start</span>
                                </div>
                                <textarea type="text" name='start' class="form-control" rows="1">{{ coord }}</textarea>
                            </div>
                            <input name="encrypt" class="btn btn-primary btn-block" type="submit" value="Encrypt">
                        </form>
                    </div>         
                </div>
            </div>
        </div>
        {% if encrypted_image %}
            <div class="col-lg-4 col-md-6 col-sm-12 pb-4">
                <p><img src="{% static 'img/GP_graph.png' %}" class="img-fluid"></p>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 pb-4">
                <p><img src="{% static 'img/GP_perm.png' %}" class="img-fluid"></p>
            </div>


            <div class="col-xl-3 col-lg-5">
                <!-- Outputs Chart -->
                <div class="card shadow mb-4">
                    <!-- Card Header - Dropdown -->
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary" style="text-align:center">Encrypt Output</h6>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">
                        <div class="chart-area">
                            <div class="form-group">
                                <textarea type="text" name='text' class="form-control" rows="10">{{ data }}</textarea>
                            </div>
                        </div>         
                    </div>
                </div>
            </div>
        {% else %}
            <p></p>
        {% endif %}
    </div>
    <div class="row">
        <!-- Inputs Chart -->
        <div class="col-xl-3 col-lg-5">
            <!-- Outputs Chart -->
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary" style="text-align:center">Decrypt</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="chart-area">
                        <form method="POST" action="" target="_self">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="exampleFormControlTextarea1">Ciphered coordinates</label>
                                <textarea type="text" name='cipher' class="form-control" rows="5">{{ cipher }}</textarea>
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                  <span class="input-group-text" id="inputGroup-sizing-default">Permutation</span>
                                </div>
                                <textarea type="text" name='d_perm' class="form-control" rows="1">{{ d_perm }}</textarea>
                                
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                  <span class="input-group-text" id="inputGroup-sizing-default">Start</span>
                                </div>
                                <textarea type="text" name='d_start' class="form-control" rows="1">{{ d_coord }}</textarea>
                            </div>
                            <input name="decrypt" class="btn btn-primary btn-block" type="submit" value="Decrypt">
                        </form>
                    </div>         
                </div>
            </div>
        </div>
        {% if decrypted_image %}
            <div class="col-lg-4 col-md-6 col-sm-12 pb-4">
                <p><img src="{% static 'img/GP_graph.png' %}" class="img-fluid"></p>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 pb-4">
                <p><img src="{% static 'img/GP_perm.png' %}" class="img-fluid"></p>
            </div>

            <div class="col-xl-3 col-lg-5">
                <!-- Outputs Chart -->
                <div class="card shadow mb-4">
                    <!-- Card Header - Dropdown -->
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary" style="text-align:center">Clear Text Output</h6>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">
                        <div class="chart-area">
                            <div class="form-group">
                                <textarea type="text" name='text' class="form-control" rows="10">{{ result }}</textarea>
                            </div>
                        </div>         
                    </div>
                </div>
            </div>
        {% else %}
            <p></p>
        {% endif %}
    </div>

</div>
<!-- /.container-fluid -->
{% endblock %}
<!-- </body> -->